* {
  color-scheme: dark;
}
h1 {
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.item {
  background-color: rgba(149, 157, 165, 0.2);
  padding: 20px;
  border-radius: 10px;
}
.item:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.padding {
  padding: 10px;
}
button {
  padding: 14px 24px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

@media screen and (max-width: 991.98px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767.98px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
