*{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body{
    background-color: #000851;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
header{
    background-color: #c8e9b8;
    text-align: center;
}
main{
    text-align: center;
    font-size: 1em;
    color: aliceblue;
    text-shadow: 2px 2px 3px black;
}
.Vowel-Consonant , .even-odd ,.digit-spelling{
    background: linear-gradient(90deg, #1CB5E0 0%, #1022c7 100%);
    width: 60%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.input{
    width: 80px;
    border: 2px solid rgb(177, 177, 177);
    outline: none;
    padding: 3px 10px;
    font-size: 15px;
    border-radius: 5px;
    margin: 10px;

}
.ans{
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-shadow: none;
    
}
.div label{
    font-size:20px;
}
.checkbtn{
    background-color: #1CB5E0;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin: 20px 10px ;
}
@media screen and (max-width:546px) {
    .Vowel-Consonant h1{
        font-size: 20px;
    }
    .Vowel-Consonant , .even-odd ,.digit-spelling{
        width: 80%;
    }
}


