* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(133, 102, 243);
}
html {
    scroll-behavior: smooth;
}
.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 193, 243);
    width: 90%;
    height: auto;
    border-radius: 1rem;
    font-size: 150%;

}
.vowel-consonent {
    box-sizing: border-box;
    height: 300px;
    width: 50%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px 0 #999393;
    text-align: center;
    margin: 1rem;
    background-color: #fff;
    border: solid;
    border-image-source: url(images/borderImage.avif);
    border-image-slice: 100;
    border-image-width: 20;
    border-image-repeat: round;
    /* border-image-outset: 10; */
    
}

.even-noneven {
    box-sizing: border-box;
    height: 300px;
    width: 50%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px 0 #999393;
    text-align: center;
    margin: 1rem;
    background-color: #fff;
    border: solid;
    /* border-image-source: url(images/borderImage.avif); */
    border-image-source: repeating-linear-gradient(rgb(0, 255, 98), rgb(255, 81, 0));
    border-image-slice: 100;
    border-image-width: 3;
    border-image-repeat: round;
}

.digit {
    box-sizing: border-box;
    height: 300px;
    width: 50%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px 0 #999393;
    text-align: center;
    margin: 1rem;
    background-color: #fff;
    border: solid;
    /* border-image-source: url(images/borderImage.avif); */
    border-image-source: linear-gradient(rgb(221, 120, 120), blue, white, green);
    border-image-slice: 100;
    border-image-width: 4;
    border-image-repeat: round;
}


h3 {
    text-decoration: underline;
    padding-bottom: 1rem;
}
p {
    margin: 1rem;
}
h3, p {
    background-color: #fff;
}

button {
    padding: 1rem 4rem;
    background-color: rgb(172, 172, 223);
    color: white;
    border-radius: 2rem;
    margin-top: 1rem;
    outline: none;
    border: none;
    margin-top: 3rem;
}
button:hover {
    box-shadow: 0 5px 10px 0 rgb(190, 190, 214);
    transition: all 1s;
}

@media only screen and (max-width: 700px) {
 h3, p {
    font-size: 1rem;
 }
 button {
    padding: 0.5rem;
 }
}




